@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:after {
  content: "";
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}
.font-sans {
  font-family: "Didact Gothic", sans-serif;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}
/* HTML: <div class="loader"></div> */
.loading {
  width: 50px;

  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 70deg,
      #0000 71deg 90deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l5 1s infinite;
}
@keyframes l5 {
  to {
    transform: rotate(0.5turn);
  }
}

/* Updated Color Scheme */
.bg-primary-lightest {
  background-color: #e9edf3;
}
.bg-primary-light {
  background-color: #7ea7bf;
}
.bg-primary-medium {
  background-color: #4d58c0;
}
.bg-primary-dark {
  background-color: #6c6c90;
}
.bg-primary-darkest {
  background-color: #252f4e;
}

.text-primary-lightest {
  color: #e9edf3;
}
.text-primary-light {
  color: #7ea7bf;
}
.text-primary-medium {
  color: #4d58c0;
}
.text-primary-dark {
  color: #6c6c90;
}
.text-primary-darkest {
  color: #252f4e;
}

/* Tailwind Styles with Updated Colors */
.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-10 px-6;
}

.sign-btn {
  @apply rounded-full border-2 border-primary-lightest p-2 text-primary-lightest font-semibold text-center text-xl flex items-center justify-center;
}
.cart-btn {
  @apply rounded-full border-2 w-fit h-fit border-primary-lightest p-2 text-primary-lightest hover:scale-110 duration-150 ease-in-out transition-all text-center text-base flex items-center justify-center;
}

.outline-btn {
  @apply rounded-full border border-primary-darkest bg-transparent py-1.5 px-5 text-primary-darkest transition-all hover:bg-primary-darkest hover:text-primary-lightest text-center text-sm flex items-center justify-center;
}

.head-text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-primary-darkest sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-primary-medium to-primary-light bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-primary-dark sm:text-xl max-w-2xl;
}

.glassmorphism {
  @apply rounded-xl border border-primary-light bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-primary-dark outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-primary-dark outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-semibold text-lg text-primary-darkest tracking-wide;
}

.dropdown {
  @apply absolute z-10 right-0 top-full mt-3 w-full p-5 rounded-lg bg-primary-lightest min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm text-primary-dark hover:text-primary-light font-medium w-full text-center;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
.flex-evenly {
  @apply flex justify-evenly items-center;
}

.footer {
  @apply container h-1/4 px-8 rounded-tl-2xl rounded-tr-2xl;
}
